
.menu {
    display: flex;
    flex-direction: row;
}

.menu-item {
    list-style-type: none;
    margin:10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #C7EDFC;
}