
.menu {
    display: flex;
    flex-direction: row;
}

.menu-item {
    margin:20px;
    border: 1px solid black;
    padding: 10px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    margin:8px;
    padding:5px;
    border: 1px solid black;
}

.image-product {
    width: auto;
    height: 150px;
    object-fit: contain;
}

.title-product {
    
    font-weight: bold;
    margin-top: 10px;
    color: blue;
}